$text_color: #444;
$link_color: #036dbe;

body{
  font-family: Arial;
}



img{
  width: 100%;
}

.promotion_link{
  font-size: 24px;
  font-weight: bold;
  color: $link_color;
}

.simple_text{
  font-size: 14px;
  color: $text_color;
}

.margin_small{
  margin: 10px 0;
}

.margin_large{
  margin: 40px 0;
}

@mixin box_shadow($x, $y, $radius, $color) {
  -moz-box-shadow: $x $y $radius $color;
  -webkit-box-shadow: $x $y $radius $color;
  box-shadow: $x $y $radius $color;
}

.box_shadow{
  @include box_shadow(8px, 8px, 12px, #aaa);
}





@import "view";
@import "stacktable";