body{
  font-family: Arial;
}

.promotion_link{
  font-size: 24px;
  font-weight: bold;
  color: #036dbe;
}

.promotion_summary, .next_drawing{
  font-size: 14px;
  color: #444;
}

.margin_small{
  margin: 10px 0;
}

.margin_large{
  margin: 40px 0;
}

@mixin box_shadow($x, $y, $radius, $color) {
  -moz-box-shadow: $x $y $radius $color;
  -webkit-box-shadow: $x $y $radius $color;
  box-shadow: $x $y $radius $color;
}

.box_shadow{
  @include box_shadow(8px, 8px, 12px, #aaa);
}

@media screen and (max-width: 750px) {
  img{
    width: 100%;
  }
}

@import "stacktable";