<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Web Dev Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/webdevtest.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container" id="app">
            <div class="row" v-for="(item, index) in items" v-if="!displayPromotionView">
                <promotion :item="item" :index="index" @closepromotionlist="activePromotionView"></promotion>
            </div>

            <div class="row" v-if="displayPromotionView">
                <img class="col-md-12 col-xs-12" :src="currentItem.promo_image_url">
                <h1>{{ currentItem.promotion_name }}</h1>
                <p>{{ currentItem.summary }}</p>
                <h2>Drawing Schedule</h2>
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Prize</th>
                                <th>Entry Deadline</th>
                                <th>Drawing Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="drawing in currentItem.drawings">
                                <td>{{ drawing.prize }}</td>
                                <td>{{ drawing.entry_deadline | formatdate }}</td>
                                <td>{{ drawing.drawing_date | formatdate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>{{ currentItem.entry_info }}</p>
                <h2>Your Total Tickets Entered: {{ currentItem.entries.length }}</h2>
                <p>All entries are locked in at the time they are submitted and cannot be deleted</p>
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Entry number</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="entry in currentItem.entries">
                            <td>{{ entry.entry_number }}</td>
                            <td>{{ entry.date | formatdate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#" title="Go back" @click.prevent="activePromotionList">Back to the promotion list</a>
            </div>
        </div>


        <script
                src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/stacktable.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>

        <script src="js/app.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
